@{
    ViewBag.Title = "Главная";

    var p = DateTime.Now.Ticks.ToString();
}


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox" style="height: 23em;">
        <div class="item active">
            <img src="../../Images/home/slides/slide-1.jpg?@p"  class="center-block"/>
            <div class="carousel-caption">
                Общество с ограниченной ответственностью "ОПТИМУМ ИНТЕР ПАРЕC"
            </div>
        </div>
        <div class="item">
            <img src="../../Images/home/slides/slide-2.jpg?@p" class="center-block"/>
            <div class="carousel-caption">
                Общество с ограниченной ответственностью "ОПТИМУМ ИНТЕР ПАРЕC"
            </div>
        </div>
        <div class="item">
            <img src="../../Images/home/slides/slide-3.jpg?@p" class="center-block"/>
            <div class="carousel-caption">
                Общество с ограниченной ответственностью "ОПТИМУМ ИНТЕР ПАРЕC"
            </div>
        </div>
    </div>
    
      <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<table class="center" style="margin-top: 20px; width: 60%; font-family: Ubuntu; font-size: 120%;">
    <tr>
        <td style="border-bottom: 2px solid black;" align="center">
            <h4><b>Общество с ограниченной ответственностью "ОПТИМУМ ИНТЕР ПАРЕC"</b></h4>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 12px;">
            <img src="@Url.Content("~/Images/logo.png")" style="float: left"/>
            <p align="center">Уважаемые господа, обращаемся  к вам с предложением  сотрудничества!</p>
            <p style="text-align: justify;">Опираясь на многолетний опыт работников, наша компания завоевала репутацию надежного, добросовестного и ответственного партнера.</p> 
            <p style="text-align: justify;">Основным видом деятельности нашего предприятия является реализация светлых и темных нефтепродуктов с  заводов уфимской группы компаний АНК «Башнефть».</p>
            <p style="text-align: justify;">Так же, имея собственный железнодорожный тупик протяженностью 125 м с фронтом погрузки 8 вагонов единовременно и охраняемую территорию общей площадью 6000 кв.м, оказываем широкий спектр услуг по приему, погрузке, выгрузке, отправлению любых видов грузов по железной дороге. Особое внимание уделяется фасовке, погрузке и отправке битума дорожного в крытых вагонах. Имеем  возможность принимать и отправлять спецтехнику на платформах.</p> 
            <p style="text-align: justify;">ООО «Оптимум» является представителем нескольких собственников вагонов и может предоставлять подвижной состав для транспортировки вашей продукции по ценам ниже рыночных.</p>
            <p style="text-align: justify;">Деятельность нашей компании максимально ориентирована на удовлетворение потребностей и требований любого клиента, улучшение качества обслуживания, совершенствование системы сбыта и повышения квалификации кадров. У компании индивидуальный подход к каждому клиенту, независимо от объемов потребления. Мы стремимся превосходить ожидания наших покупателей.</p>
            <p style="text-align: justify;">Перспективы компании связаны с расширением рынка сбыта и установлением долгосрочного взаимовыгодного сотрудничества, как с поставщиками,  так и с потребителями.</p>
            <p style="text-align: justify;">Принимая наше предложение о сотрудничестве , вы приобретете в нашем лице надежного партнера в сфере поставки нефтепродуктов и оказания услуг по транспортировке грузов.</p>
            <p style="float: right;">С уважением , Директор  ООО «Оптимум».</p>
        </td>
    </tr>
    
</table>





