@model GasOil.DataModel.ProductsGroup
@{
    ViewBag.Title = "Изменить категорию";
}

@using (Html.BeginForm("EditCategorу", "Products", new { groupId = Model.id }))
{
    <table class="table center" style="background-color: white; width: 40%;">
        <tr><td>Наименование</td><td><input name="groupName" value="@Model.Name" class="form-control"/></td></tr>
        <tr><td colspan="2" align="center"><input type="submit" value="Сохранить" class="btn btn-primary"/></td></tr>
    </table>
}
