@{
    ViewBag.Title = "Сертификаты качества";
}

@section scripts{
    @Scripts.Render("~/bundles/productpassports")
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="height: 2000px; width: 90%">
        <div class="modal-content">
            <div class="modal-body" style="">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #gallery > ul > li >img {
        height: 450px;
        cursor: pointer;
    }
    #gallery > ul > li {
        list-style:none; 
        margin-bottom:25px;
    }
</style>
<div class="container" id="gallery">
    <ul class="row">
        <li class="col-lg-4 col-md-2 col-sm-2 col-xs-12">
            <img src="../../Images/documents/certificates/Сертификат%20соответствия%20БНД%2060-90%2090-130%20НОВОИЛ-page-001.jpg" class="img-responsive"/>
        </li>
        <li class="col-lg-4 col-md-2 col-sm-2 col-xs-12">
            <img src="../../Images/documents/certificates/Сертификат%20соответствия%20БНД%2060-90%2090-130%20НОВОИЛ-page-002.jpg" class="img-responsive"/>
        </li>
        <li class="col-lg-4 col-md-2 col-sm-2 col-xs-12">
            <img src="../../Images/documents/certificates/Сертификат%20соответствия%20БНД%2090-130%20УНХ-page-001.jpg" class="img-responsive"/>
        </li>
        <li class="col-lg-4 col-md-2 col-sm-2 col-xs-12">
            <img src="../../Images/documents/certificates/Сертификат%20соответствия%20Топливо%20Дизельное-page-001.jpg" class="img-responsive"/>
        </li>
    </ul>
</div>
