@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
    Layout = null;
}

<hgroup class="title">
    <h1 class="error">Что-то пошло не так как мы задумывали.</h1>
    <h2 class="error">Во время обработки запроса произошла ошибка. Обратитесь к разработчикам.</h2>
    <p>@string.Format("Контроллер: {0}", Model.ControllerName)</p>
    <p>@string.Format("Действие: {0}", Model.ActionName)</p>
    <p>@string.Format("Сообщение: {0}", Model.Exception.Message)</p>
</hgroup>
